*{
    /* border: 1px solid black !important; */
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, a, p, button{
    font-family: 'Poppins', sans-serif;
    color: #5d5d5d;
}
/* start of section home */
#section-home{
    width: 100%;
    height: 100vh;
}
.half-column{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
}
#background-home{
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.half-column nav{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 70px;
}
.half-column nav ul li{
    float: left;
    list-style: none;
}
.half-column nav ul li a{
    margin-right: 30px;
    line-height: 70px;
    text-decoration: none;
}
.half-column .intro{
    width: 100%;
    padding: 0 70px;
}
.half-column .intro h3{
    font-size: 30px;
    font-weight: 300;
}
.half-column .intro h2{
    font-size: 35px;
    font-weight: 500;
}
.half-column .intro p{
    margin: 10px 0;
}
.half-column .intro .social-media{
    width: 100%;
    height: 30px;
}
.half-column .intro .social-media .sosmed-icon{
    float: left;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.half-column .intro .social-media .sosmed-icon i{
    font-size: 20px;
}
.half-column .intro .button{
    padding: 7px 20px;
    margin: 20px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #5d5d5d;
    color: white;
    cursor: pointer;
}
/* end of section home */

/* start of section about */
#section-about{
    width: 100%;
    height: 100vh;
}
#section-about .half-column{
    padding: 70px;
}
#section-about .half-column#about-text-frame{
    justify-content: center;
}
#section-about .half-column h1{
    font-size: 60px;
}
/* end of section about */

/* start of section portfolio */
#section-portfolio{
    width: 100%;
    height: auto;
    padding: 100px 70px;
}
#section-portfolio .title-center{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
}
#section-portfolio .row{
    display: table;
    clear: both;
    width: 100%;
}
#section-portfolio .column-6{
    width: 50%;
    float: left;
    padding: 20px;
}
#section-portfolio .column-6 a{
    width: 100%;
    height: 100%;
    display: block;
}
#section-portfolio .column-6 .card{
    width: 100%;
    height: 250px;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 30px 0px rgba(0,0,0,0.2);
}
#section-portfolio .column-6 .card:hover .overlay{
    opacity: 1;
}
#section-portfolio .column-6 .card img{
    width: 100%;
    height: auto;
}
#section-portfolio .column-6 .card .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    transition: all .3s;
    opacity: 0;
}
#section-portfolio .column-6 .card .overlay p{
    color: white;
}
/* end of section portfolio */

/* start of footer */
footer{
    width: 100%;
    height: 100px;
}
footer p{
    line-height: 100px;
    text-align: center;
}
/* end of footer */